<label
  [ngClass]="{
    'form-label': true,

    'is-invalid': (lengthInvalid | async),
    'is-invalid-all': (isValid | async)
  }"
  >{{ label }}<span *ngIf="isRequired">*</span></label
>
<input
  class="inputfile inputfile-1"
  id="emirateBackAttach"
  (change)="onFileChange($event.target.files)"
  name="emirateBackAttach"
  type="file"
  [ngClass]="{
    'form-control': true,
    'is-invalid': (lengthInvalid | async)
  }"
  style="margin-bottom: 2px"
/>

<label
  style="border: none; padding: 0 5px 5px 0"
  for="file-1"
  [ngClass]="{
    'is-invalid-upload': (sizeInvalid | async)
  }"
>
  <span style="font-size: 0.7rem">Upload File – png only Max Size 2 MB</span>
  <span *ngIf="file | async as emirateBack">{{ emirateBack?.name }}</span>
</label>
