<div class="row menu-bar">
  <div class="col-8 col-sm-6">
    <p>
      <a *ngIf="!isIn()" href="/">HOME</a>
      <a [routerLink]="['/track-your-request']">TRACK YOUR REQUEST</a>
    </p>
  </div>
  <div class="col-4 rt-menubar col-sm-6 text-right">
    <p>
      <a *ngIf="!isIn()" [routerLink]="['/login']">LOGIN</a>
    </p>
    <div *ngIf="isIn()" class="dropdown user user-menu">
      <a
        aria-expanded="true"
        class="dropdown-toggle"
        data-toggle="dropdown"
        href="#"
      >
        <span class="hide">User</span>

        <img alt="User Image" class="user-image" src="/assets/img/user.png" />
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" (click)="logout($event)">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul>
    </div>
    <p>
      <a href="#" (click)="changeLanguage($event)">{{
        "HOME.LANGUAGE" | translate
      }}</a>
    </p>
  </div>
</div>
