<div class="row menu-bar">
  <div class="col-8 col-sm-6">
    <p>
      <a *ngIf="isNew() === true" href="#" (click)="loadHome($event)">{{
        "HEADER.HOME" | translate | uppercase
      }}</a>
      <a
        *ngIf="isAvailableToRenew() === true"
        href="#"
        (click)="newRequest($event)"
        >{{ "New Request" | uppercase }}</a
      >
      <a [routerLink]="['/track-your-request']">{{
        "TRACKYOURREQUEST.HEADER" | translate | uppercase
      }}</a>
    </p>
  </div>
  <div class="col-4 rt-menubar col-sm-6 text-right">
    <p>
      <a *ngIf="!isIn()" [routerLink]="['/login']">{{
        "HEADER.LOGIN" | translate | uppercase
      }}</a>
    </p>
    <ng-container *ngIf="userImage; else Guest">
      <div *ngIf="isIn()" class="dropdown user user-menu">
        <a
          aria-expanded="true"
          class="dropdown-toggle"
          data-toggle="dropdown"
          href="#"
        >
          <span class="hide">User</span>

          <img alt="User Image" style="height: 30px" [src]="imageUrl | async" />
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="#" (click)="logout($event)">
              <i class="fa fa-sign-out"></i> {{ "LOGOUT" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-template #Guest>
      <div
        *ngIf="isIn()"
        class="dropdown .dropdown-user-name user"
        style="padding-top: 4px"
      >
        <a
          aria-expanded="true"
          class="dropdown-toggle"
          data-toggle="dropdown"
          href="#"
        >
          <span>{{ "HIGUEST" | translate }}</span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="#" (click)="logout($event)">
              <i class="fa fa-sign-out"></i> {{ "LOGOUT" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </ng-template>
    <p>
      <a href="#" (click)="changeLanguage($event)">{{
        "HOME.LANGUAGE" | translate
      }}</a>
    </p>
  </div>
</div>
