<div class="row">
  <div class="img-holder n-form-bg">
    <div class="bg"></div>
    <div class="tablerow">
      <div class="tablecell">
        <div class="col-12 flush col-sm-12" id="first-bg">
          <div class="info-holder simple-info">
            <div><img alt="" src="/assets/images/graphic6.svg" /></div>
            <div>
              <h3>Online Request</h3>
            </div>
            <div>
              <p>
                Fill the form, attach your latest CV <br />and portfolio to get
                listed.
              </p>
            </div>
          </div>
        </div>
        <div class="vertical"></div>
      </div>
    </div>
  </div>
  <div class="form-holder position n-form">
    <div class="container-fluid">
      <ot-header></ot-header>
    </div>
    <!-- login part -->
    <div class="form-content">
      <div class="form-items">
        <div class="row">
          <div class="col-lg-12 login text-center col-12 col-sm-12">
            <h2>
              SWICHING BACK TO ONLINE REQUEST
              <ot-loader [loading]="true"></ot-loader>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
