<div class="row">
  <div class="img-holder n-form-bg">
    <div class="bg"></div>
    <div class="tablerow">
      <div class="tablecell">
        <div class="col-12 flush col-sm-12" id="first-bg">
          <ot-welcome></ot-welcome>
        </div>
        <div class="vertical"></div>
      </div>
    </div>
  </div>
  <div class="form-holder position n-form">
    <div class="container-fluid">
      <ot-header></ot-header>
    </div>
    <div class="form-content">
      <div class="form-items">
        <form>
          <div class="row">
            <ng-container
              *ngIf="appResult | async as app; else formSearchTemplate"
            >
              <h3></h3>
            </ng-container>
            <ng-template #formSearchTemplate>
              <form
                #SearchApplcationForm="ngForm"
                (ngSubmit)="OnSearchApplication(SearchApplcationForm)"
              >
                <div class="col-lg-12 login text-center col-12 col-sm-12">
                  <h2>
                    Track Your Request
                    <ot-loader [loading]="loading"></ot-loader>
                  </h2>
                  <input
                    name="applicationNumber"
                    placeholder="Enter application number"
                    type="text"
                    ngModel
                    required
                    pattern="[0-9]{8}"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': checkFormInvalid(SearchApplcationForm)
                    }"
                  />
                  <input class="submit" name="" type="submit" value="Search" />
                </div>
              </form>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
