<div class="form-body on-top-mobile">
  <div class="website-logo">
    <a [routerLink]="['/']">
      <div class="logo">
        <img alt="" class="logo-size" src="/assets/images/newlogo.png">
      </div>
    </a>
  </div>
  <div class="row">
    <div class="img-holder  n-form-bg">
      <div class="bg"></div>
      <div class="tablerow">
        <div class="tablecell">
          <div class="col-12 flush col-sm-12" id="first-bg">
            <div class="info-holder simple-info">
              <div><img alt="" src="/assets/images/graphic6.svg"></div>
              <div>
                <h3>We’re Accepting applications!</h3>
              </div>
              <div>
                <p>Fill the form, attach your latest CV <br>and portfolio to get listed.</p>
              </div>
            </div>
          </div>
          <div class="vertical">
          </div>
        </div>
      </div>
    </div>
    <div class="form-holder position  n-form">
      <div class="container-fluid">
        <div class="row menu-bar">
          <div class="col-8 col-sm-6 ">
            <p>
              <a [routerLink]="['/']">HOME</a>
              <a [routerLink]="['/track-your-request']">TRACK YOUR REQUEST</a>
            </p>
          </div>
          <div class="col-4 rt-menubar col-sm-6  text-right">
            <p>
              <a [routerLink]="['/login']">LOGIN</a>
            </p>
            <div class="dropdown user user-menu">
              <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="hide">User</span>

                <img alt="User Image" class="user-image" src="/assets/img/user.png">
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <i class="fa fa-sign-out"></i> Logout
                  </a>
                </li>
              </ul>
            </div>
            <p>
              <a href="ar.html">AR</a>
            </p>
          </div>
        </div>
      </div>
      <div class="form-content">
        <div class="form-items">
          <form>
            <div class="row">
              <form>
                <div class="col-lg-12 login text-center col-12 col-sm-12 ">
                  <h2>LOGIN</h2>
                  <input name="" placeholder="Email" type="text">
                  <input id="" name="" placeholder="Password" type="text">
                  <input class="submit" name="" type="submit" value="Login">
                </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
