<form #membershipForm="ngForm" (ngSubmit)="next(membershipForm)">
  <ot-layer-disable [activated]="!enabled">
    <div class="row">
      <div class="col-lg-12 col-12 col-sm-12" id="sd-div">
        <div class="row">
          <div class="col-lg-12 text-center col-12 col-sm-12">
            <h3>Please Enter your Work Information:</h3>
          </div>
        </div>
        <div class="row tp">
          <div class="col-lg-12 col-12 col-sm-12">
            <div class="row">
              <div class="col-lg-6 col-12 col-sm-6">
                <label class="form-label">Your Monthly Salary</label>
                <select
                  class="sel"
                  [(ngModel)]="monthlySalary"
                  name="monthlySalar"
                  [ngClass]="{
                    'form-control': true
                  }"
                >
                  <option value="0">Choose a Salary Range</option>
                  <option
                    *ngFor="let monthlySalary of monthlySalaries | async"
                    [value]="monthlySalary.id"
                  >
                    {{ monthlySalary.name }}
                  </option>
                </select>
              </div>
              <div class="col-lg-6 col-12 col-sm-6">
                <label class="form-label"
                  >How much Monthly Quota you need:</label
                >
                <select
                  class="sel"
                  [(ngModel)]="monthlyQuota"
                  name="monthlyQuota"
                  [ngClass]="{
                    'form-control': true
                  }"
                >
                  <option value="0">Choose a Quota range</option>
                  <option
                    *ngFor="let monthlyQuota of monthlyQuotas | async"
                    [value]="monthlyQuota.id"
                  >
                    {{ monthlyQuota.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-12 col-sm-12">
                <label class="form-label">Any comments: </label>
                <textarea
                  placeholder="Add your comment"
                  [(ngModel)]="comment"
                  name="comment"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ot-layer-disable>
  <ng-content></ng-content>
</form>
