<div class="info-holder simple-info">
  <div><img alt="" src="/assets/images/graphic6.svg" /></div>
  <div>
    <ng-template #welcomeLogin>
      <ng-container [ngSwitch]="isApprovedRequest()">
        <ng-template ngSwitchCase="approved">
          <h3>Your request has been approved</h3>
        </ng-template>
        <ng-template ngSwitchCase="rejected">
          <h3>Your request has been rejected</h3>
        </ng-template>
        <ng-template ngSwitchDefault>
          <h3>{{ "LOGIN.ACCEPTING_MESSAGE" | translate }}</h3>
        </ng-template>
      </ng-container>
    </ng-template>
    <h3 *ngIf="!applicationNumber; else welcomeLogin">
      {{ "HOME.TITLE" | translate }}
    </h3>
  </div>
  <div>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English.
    </p>
  </div>
</div>
