<div class="info-holder simple-info">
  <div><img alt="" src="/assets/images/graphic6.svg" /></div>
  <div>
    <h3>{{ "HOME.TITLE" | translate }}</h3>
  </div>
  <div>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English.
    </p>
  </div>
</div>
