<div class="row">
  <div class="img-holder n-form-bg">
    <div class="bg"></div>
    <div class="tablerow">
      <div class="tablecell">
        <div class="col-12 flush col-sm-12" id="first-bg">
          <div class="info-holder simple-info">
            <div><img alt="" src="/assets/images/graphic6.svg" /></div>
            <div>
              <h3>{{ "LOGIN.SIDE.HEADER" | translate }}</h3>
            </div>
            <div>
              <p>
                Fill the form, attach your latest CV <br />and portfolio to get
                listed.
              </p>
            </div>
          </div>
        </div>
        <div class="vertical"></div>
      </div>
    </div>
  </div>
  <div class="form-holder position n-form">
    <div class="container-fluid">
      <ot-header></ot-header>
    </div>
    <!-- login part -->
    <div class="form-content">
      <div class="form-items">
        <div class="row">
          <div class="col-lg-12 login text-center col-12 col-sm-12">
            <h2>
              {{ "LOGIN.HEADER" | translate | uppercase }}
              <ot-loader [loading]="loading"></ot-loader>
            </h2>

            <ng-container *ngIf="codeSent$ | async as sent; else loginButton">
              <form
                #sendCodeForm="ngForm"
                (ngSubmit)="onSendCode(sendCodeForm)"
              >
                <input
                  id="verifyCode"
                  name="verifyCode"
                  placeholder="Verify Code"
                  type="text"
                  ngModel
                  required
                  pattern="[0-9]{6}"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': checkControlInvalid(
                      sendCodeForm,
                      sendCodeForm.controls.verifyCode
                    )
                  }"
                />
                <input class="submit" name="" type="submit" value="Login" />
              </form>
            </ng-container>
            <ng-template #loginButton>
              <form
                #sendPhoneForm="ngForm"
                (ngSubmit)="onSendPhone(sendPhoneForm)"
              >
                <input
                  id="mobile-number"
                  name="phoneNumber"
                  [placeholder]="('LOGIN.EG' | translate) + ' +17021234567'"
                  type="text"
                  ngModel
                  required
                  pattern="[\+][0-9]{5}[0-9]*"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': checkControlInvalid(
                      sendPhoneForm,
                      sendPhoneForm.controls.phoneNumber
                    )
                  }"
                />
                <div class="spinner-border" *ngIf="loading">
                  Sending Code ...
                </div>
                <input
                  class="submit"
                  name=""
                  type="submit"
                  [value]="'LOGIN.NEXT' | translate"
                />
              </form>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
