<form #membershipForm="ngForm" (ngSubmit)="next(membershipForm)">
  <div class="row">
    <div class="col-lg-12 old col-12 col-sm-12 flush" id="ft-div-3">
      <div class="col-lg-12 col-12 col-sm-12" id="scroll-div">
        <div class="row">
          <div class="col-lg-12 text-center col-12 col-sm-12">
            <h3>Please Enter your Personal Information:</h3>
          </div>
        </div>
        <div class="row tp">
          <div class="col-lg-12 col-12 col-sm-12">
            <div class="row">
              <div class="col-lg-6 col-12 col-sm-6">
                <label class="form-label">Full Name*</label>
                <input
                  name="fullName"
                  placeholder="Enter your name"
                  type="text"
                  [(ngModel)]="fullName"
                  required
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': checkControlInvalid(
                      membershipForm,
                      membershipForm.controls.fullName
                    )
                  }"
                />
              </div>
              <div class="col-lg-6 col-12 col-sm-6">
                <label class="form-label">Email Address*</label>
                <input
                  name="emailAddress"
                  placeholder="Enter your Email Address"
                  type="text"
                  [(ngModel)]="emailAddress"
                  required
                  email
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': checkControlInvalid(
                      membershipForm,
                      membershipForm.controls.emailAddress
                    )
                  }"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-12 col-sm-12">
                <label class="form-label">Your Location*</label>
              </div>
              <div class="col-lg-12 bt-form col-12 col-sm-12">
                <!--<div class="col-lg-12 input-space o-hidden flush col-12 col-sm-12">
     <input id="pac-input" class="controls" type="text" placeholder="Your Address" />
     <div id="map"></div>
  </div>-->
                <div class="col-lg-12 o-hidden flush col-12 col-sm-12">
                  <div class="map" id="meta_data_container">
                    <input
                      class="controls"
                      id="map_address_input"
                      placeholder="Your Address"
                      type="text"
                      [(ngModel)]="address"
                      required
                      name="address"
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid': checkControlInvalid(
                          membershipForm,
                          membershipForm.controls.address
                        )
                      }"
                    />
                  </div>
                  <div class="map" id="map_with_google_api"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-12 col-sm-12">
                <label class="form-label">Complete Address: </label>
                <textarea
                  class="ht"
                  name="fullAddress"
                  [(ngModel)]="fullAddress"
                  required
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': checkControlInvalid(
                      membershipForm,
                      membershipForm.controls.fullAddress
                    )
                  }"
                  placeholder="Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum "
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</form>
