<form #membershipForm="ngForm" (ngSubmit)="next(membershipForm)">
  <div class="row">
    <div class="col-lg-12 col-12 col-sm-12 flush" id="ser-div-1">
      <div class="col-lg-12 col-12 col-sm-12" id="scroll-div">
        <div class="row">
          <div class="col-lg-12 text-center col-12 col-sm-12">
            <h3>
              Enter Membership Number
              <ot-loader [loading]="loading"></ot-loader>
            </h3>
          </div>
        </div>
        <div class="row tp">
          <div class="col-lg-12 text-center col-12 col-sm-12">
            <input
              name="membershipNumber"
              placeholder="Enter request"
              type="text"
              [(ngModel)]="membershipNumber"
              required
              [ngClass]="{
                'form-control': true,
                'is-invalid': checkFormInvalid(membershipForm)
              }"
            />
          </div>
          <div class="col-lg-12 text-center col-12 col-sm-12">
            <!-- <a class="btn-next" (click)="searchRequest()"
                            >Search</a
                          > -->
            <button class="btn-next" type="submit">
              {{ "WIZARD.SEARCH.MEMBERSHIPNUMBER.BUTTON" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
