<div class="row" *ngIf="currentStep | async as currentStep">
  <div class="img-holder n-form-bg">
    <div class="bg"></div>
    <div class="tablerow">
      <div class="tablecell">
        <div
          class="col-12 flush col-sm-12"
          id="first-bg"
          *ngIf="isHomeShowed | async"
        >
          <ot-welcome></ot-welcome>
        </div>
        <div class="vertical" *ngIf="isStepsFlowShowed | async">
          <ng-container
            *ngIf="
              request.applicationNumber &&
                stateService.currentStep$.value === 'sTypeOfCustomer';
              else steps
            "
          >
            <ot-request-status [requestStatus]="request.status">
            </ot-request-status>
          </ng-container>
          <ng-template #steps>
            <div class="steps">
              <ul class=" " id="sds-ul" role="tablist">
                <li
                  aria-disabled="false"
                  aria-selected="true"
                  class="first"
                  [ngClass]="{
                    current: isPersonalLeftStep(currentStep)
                  }"
                  id="ft-li"
                  role="tab"
                >
                  <a id="steps-uid-0-t-0-0">
                    <span
                      *ngIf="isPersonalLeftStep(currentStep)"
                      class="audible current-info"
                    >
                    </span>
                    <div class="title">
                      <span class="step-number">1</span
                      ><span class="step-text">{{
                        "STEPSIDE.PERSONAL" | translate | uppercase
                      }}</span>
                    </div>
                  </a>
                </li>

                <li
                  aria-disabled="true"
                  class="disabled"
                  [ngClass]="{
                    current: isLimitLeftStep(currentStep)
                  }"
                  id="sd-li"
                  role="tab"
                >
                  <span
                    *ngIf="isLimitLeftStep(currentStep)"
                    class="audible current-info"
                  >
                  </span>
                  <a id="steps-uid-0-t-1-1">
                    <div class="title">
                      <span class="step-number">2</span
                      ><span class="step-text">{{
                        "STEPSIDE.LIMIT" | translate | uppercase
                      }}</span>
                    </div>
                  </a>
                </li>

                <li
                  aria-disabled="true"
                  class="disabled"
                  [ngClass]="{
                    current: isLocationLeftStep(currentStep)
                  }"
                  id="sd-li"
                  role="tab"
                >
                  <span
                    *ngIf="isLocationLeftStep(currentStep)"
                    class="audible current-info"
                  >
                  </span>
                  <a id="steps-uid-0-t-1-3">
                    <div class="title">
                      <span class="step-number">3</span
                      ><span class="step-text">{{
                        "STEPSIDE.LOCATION" | translate | uppercase
                      }}</span>
                    </div>
                  </a>
                </li>

                <li
                  aria-disabled="true"
                  class="disabled"
                  [ngClass]="{
                    current: isSubmitLeftStep(currentStep)
                  }"
                  id="sd-li"
                  role="tab"
                >
                  <span
                    *ngIf="isSubmitLeftStep(currentStep)"
                    class="audible current-info"
                  >
                  </span>
                  <a id="steps-uid-0-t-1-4">
                    <div class="title">
                      <span class="step-number">4</span
                      ><span class="step-text">{{
                        "STEPSIDE.SUBMIT" | translate | uppercase
                      }}</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="form-holder position n-form">
    <div class="container-fluid">
      <ot-header [userImage]="request.profilePhoto"></ot-header>
    </div>
    <!-- Wizard part -->
    <div
      class="form-content"
      [ngClass]="{ 'application-active': (applicationNumber | async) }"
    >
      <div class="form-items">
        <ng-container [ngSwitch]="currentStep">
          <!-- phone number -->
          <ng-template #sPhoneNumber ngSwitchCase="sPhoneNumber">
            <ot-mobile
              (nextStep)="next($event)"
              [phoneNumber]="request.phoneNumber"
              (data)="updateData($event)"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-mobile>
          </ng-template>
          <!-- verify number -->
          <ng-template #sVerifyPhone ngSwitchCase="sVerifyPhone">
            <ot-mobile-verification
              (data)="updateData($event)"
              [verifyNumber]="request.verifyNumber"
              [phoneNumber]="request.phoneNumber"
              (nextStep)="next($event)"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-mobile-verification>
          </ng-template>
          <!-- type of customer -->
          <ng-template #sTypeOfCustomer ngSwitchCase="sTypeOfCustomer">
            <ot-type-of-customer
              (data)="updateData($event)"
              (nextStep)="next($event)"
              [typeOfCustomer]="request.typeOfCustomer"
              [enabled]="!isApproved()"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container
            ></ot-type-of-customer>
          </ng-template>
          <!-- type of request -->
          <ng-template #sTypeOfRequest ngSwitchCase="sTypeOfRequest">
            <ot-type-of-request
              (data)="updateData($event)"
              (nextStep)="next($event)"
              [typeOfRequest]="request.requestCategory"
              [enabled]="!isApproved()"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container
            ></ot-type-of-request>
          </ng-template>
          <!-- MEMBERSHIP NUMBER -->
          <ng-template #sSearch ngSwitchCase="sSearch">
            <ot-search-membership-number
              (data)="updateSearchMembershipData($event)"
              (nextStep)="next($event)"
              [currentPhoneNumber]="request.phoneNumber"
            >
            </ot-search-membership-number>
          </ng-template>

          <ng-template #sPersonalBasic ngSwitchCase="sPersonalBasic">
            <ot-personal-information
              [fullName]="request.fullName"
              [email]="request.email"
              [address]="request.address"
              [fullAddress]="request.fullAddress"
              (data)="updateData($event)"
              (nextStep)="next($event)"
              [enabled]="!isApproved()"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container
            ></ot-personal-information>
          </ng-template>

          <ng-template #sPersonalAdvanced ngSwitchCase="sPersonalAdvanced">
            <ot-personal-information-advanced
              (data)="updateData($event)"
              (dataValidation)="updateValidation($event)"
              (nextStep)="next($event)"
              [nationId]="request.nationId"
              [emirateIDNumber]="request.emiratesIDNumber"
              [passportNumber]="request.passportNumber"
              [birthday]="request.birthDate"
              [gender]="request.gender"
              [religionId]="request.religionId"
              [fileEmirateBack]="request.emiratesIdBack"
              [emirateBackUrl]="request.emiratesIdBackUrl"
              [fileEmirateFront]="request.emiratesIdFront"
              [fileAuthorizationLetter]="request.authorizationLetter"
              [fileProfilePic]="request.profilePhoto"
              [typeOfCustomer]="request.typeOfCustomer"
              [enabled]="!isApproved()"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-personal-information-advanced>
          </ng-template>

          <ng-template #sWorkInformation ngSwitchCase="sWorkInformation">
            <ot-work-information
              (data)="updateData($event)"
              (nextStep)="next($event)"
              [enabled]="!isApproved()"
              [monthlyQuota]="request.monthlyQuota"
              [monthlySalary]="request.monthlySalary"
              [comment]="request.comment"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-work-information>
          </ng-template>

          <ng-template #sLocationAreas ngSwitchCase="sLocationAreas">
            <ot-location
              (data)="updateData($event)"
              (nextStep)="next($event)"
              [areaId]="request.areaId"
              [locationId]="request.locationId"
              (dataValidation)="updateValidation($event)"
              [enabled]="!isApproved()"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-location>
          </ng-template>

          <ng-template #lastDiv ngSwitchCase="lastDiv">
            <ot-summary [request]="request" (nextStep)="next($event)">
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-summary>
          </ng-template>

          <ng-template #sPaymentChoices ngSwitchCase="sPaymentChoices">
            <ot-checkout
              (nextStep)="next($event)"
              (data)="updateData($event)"
              [orderRef]="request.orderRef"
              [paymentType]="request.paymentType"
              (checkingOut)="disableButtons$.next($event)"
            >
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </ot-checkout>
          </ng-template>

          <ng-template #sReview ngSwitchCase="sReview">
            <form #membershipForm="ngForm" (ngSubmit)="next(membershipForm)">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm-12" id="last-div-3">
                  <div class="row">
                    <div class="col-lg-12 col-12 col-sm-12 text-center">
                      <h3>Review & Submit</h3>
                    </div>
                  </div>
                  <div class="row tp">
                    <div class="col-lg-12 text-center col-12 col-sm-12">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has
                        survived not only five centuries
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </form>
          </ng-template>

          <ng-template
            #sApplicationIdNotice
            ngSwitchCase="sApplicationIdNotice"
          >
            <form #membershipForm="ngForm" (ngSubmit)="next(membershipForm)">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm-12" id="last-div-4">
                  <div class="row">
                    <div ngif class="col-lg-12 col-12 col-sm-12 text-center">
                      <ng-container
                        *ngIf="openType === 'New'; else applicationUpdate"
                      >
                        <h3
                          *ngIf="
                            updateStatus | async as status;
                            else creatingAppNumber
                          "
                        >
                          Your Application Number is:
                          {{ this.request.applicationNumber }}
                        </h3>
                        <ng-template #creatingAppNumber>
                          <div *ngIf="!error; else errorCreatingApp">
                            <h3>
                              Creating application
                              <ot-loader [loading]="true"></ot-loader>
                            </h3>
                          </div>
                          <ng-template #errorCreatingApp
                            ><h3>{{ error }}</h3></ng-template
                          >
                        </ng-template>
                      </ng-container>
                      <ng-template #applicationUpdate>
                        <h3
                          *ngIf="
                            updateStatus | async as status;
                            else updatingAppNumber
                          "
                        >
                          {{ request.applicationNumber }} has been updated
                          success!
                        </h3>
                        <ng-template #updatingAppNumber>
                          <div *ngIf="!error; else errorUpdatingApp">
                            <h3>
                              Updating application
                              <ot-loader [loading]="true"></ot-loader>
                            </h3>
                          </div>
                          <ng-template #errorUpdatingApp
                            ><h3>{{ error }}</h3></ng-template
                          >
                        </ng-template>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container [ngTemplateOutlet]="divButtons"></ng-container>
            </form>
          </ng-template>
        </ng-container>
        <!-- </div> from parent form -->
        <ng-template #divButtons>
          <div class="row">
            <div class="actions col-lg-12 col-12 col-sm-12" id="generic-ul">
              <ul aria-label="Pagination" role="menu">
                <li>
                  <button
                    [disabled]="disableButtons$ | async"
                    [ngClass]="{ 'next-disabled': disableButtons$ | async }"
                    id="prev-btn"
                    *ngIf="isPreviousButtonShowed | async"
                    (click)="previous()"
                  >
                    {{ "WIZARD.PREVIOUS" | translate }}
                  </button>
                </li>
                <li>
                  <!-- <a
                      id="next-btn"
                      *ngIf="isNextButtonShowed | async"
                      (click)="next()"
                      >Next</a
                    > -->

                  <button
                    [disabled]="
                      (disableSubmit | async) && (disableButtons$ | async)
                    "
                    [ngClass]="{
                      'next-disabled':
                        (disableSubmit | async) && (disableButtons$ | async)
                    }"
                    type="submit"
                    id="next-btn"
                    *ngIf="isNextButtonShowed | async"
                  >
                    {{ "WIZARD.NEXT" | translate }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
        <!-- <div class="row">
            <div class="actions col-lg-12 col-12 col-sm-12  " id="ft-ul">
              <ul aria-label="Pagination" role="menu">
                <li><a class=" "></a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="sd-ul">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="sd-ul-2">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div
              class="actions col-lg-12 col-12 col-sm-12"
              id="renewal-ul"
            >
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="td-ul">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="td-ul-2">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="fd-ul">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="loca-ul">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div class="actions col-lg-12 col-12 col-sm-12" id="sub-ul">
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div
              class="actions col-lg-12 col-12 col-sm-12"
              id="sub-ul-2"
            >
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
            <div
              class="actions col-lg-12 col-12 col-sm-12"
              id="sub-ul-3"
            >
              <ul aria-label="Pagination" role="menu">
                <li><a class="" id="prev-btn">Previous</a></li>
                <li><a id="next-btn">Next</a></li>
              </ul>
            </div>
          </div> -->
        <!-- </form>  from parent form  -->
      </div>
    </div>
  </div>
</div>
<!-- <div id="darkLayer" class="darkClass"></div> -->
